<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
  </head>
  <body>
    Hey,<br>
    <p>
      Thank you for joining Toddlerpedia! I created this site as a resource for all things toddler related. I know when I had my first child, I wished that I had somewhere I could look for trustworthy advice. While these wikis are not the only way to do things, I hope they prove to be helpful and point you in the right direction.
    </p>
    <p>
      Well thanks again for joining, and I look forward to hearing from you and serving you as best I can. Please do not hesitate to reach out.
    </p>
    <small>
    Jake
    </small>
    <p>
      <%= link_to "Visit Toddlerpedia", root_path %>
    </p>
  </body>
</html>
