<div class="row">
    <div class="jumbotron home">
      <h1>Why Toddlerpedia?</h1>
      <h3>Ever been puzzled by what your toddler is doing?</h3>
      <h3>Ever have a question and wish there was a place where you could get advice?</h3>
      <h3>Well look no further!</h3>
      <p>Toddlerpedia was created because I could not find a trustworthy resource for advice on toddlers after my child was no longer an infant. I found that my friends who were also parents had tons of great advice but it was all by word of mouth.</p>
      <p>What if we could harness all that knowledge and bring it online for everyone to benefit from and contribute to? With that, Toddlerpedia was born.</p>
    </div>
</div>
